---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2><strong>Works in Progress</strong></h2>
<hr />

<p><strong>The Causes and Consequences of Teacher Shortage in Pennsylvania</strong></p>

<p>Pennsylvania has become steadily more reliant on uncertified teachers since the 2008 recession, with nearly 10% of full-time teachers being uncertified in 2024. This trend is representative of a worsening teacher shortage, as districts are only allowed to hire such teachers conditional on failing a search for a certified teacher. This paper asks: (1) What has caused the worsening of this shortage? and (2) What are the effects of having an uncertified teacher on student outcomes?</p>

<img src="/images/pa-teacher-shortage.png" alt="Pennsylvania Teacher Shortage Data" style="max-width: 100%; height: auto;">
<p><em>Plot of the share of PA teacher that are uncertified. Almost 10% of full time teachers are uncertified in school year 2023-2024.</em></p>

<h2><strong>Working Papers</strong></h2>
<hr />

<p><strong><a href="https://www.philadelphiafed.org/consumer-finance/consumer-credit/not-cashing-in-on-cashing-out-an-analysis-of-low-cash-out-refinance-rates">Not Cashing In on Cashing Out: An Analysis of Low Cash-Out Refinance Rates</a></strong> (with <a href="https://www.mallickhossain.com">Mallick Hossain</a> and <a href="https://www.philadelphiafed.org/our-people/igor-livshits">Igor Livshits</a>), March 2023</p>
<p><em>R&R at Real Estate Economics</em></p>

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



